// @font-face {
//     font-family: "IBM Plex Sans";
//     src: url('/wp-content/themes/canada/assets/font/IBM Plex Sans.ttf') format('truetype');
//     font-style: normal;
// }
@font-face {
    font-family: "montserrat-medium";
    src: url("../../../public/assets/fonts/montserrat-medium.ttf");
}
@font-face {
    font-family: "montserrat-regular";
    src: url("../../../public/assets/fonts/montserrat-regular.ttf");
}
@font-face {
    font-family: "playfairdisplay-italic";
    src: url("../../../public/assets/fonts/playfairdisplay-italic.ttf");
}
@font-face {
    font-family: "playfairdisplay-regular";
    src: url("../../../public/assets/fonts/playfairdisplay-regular.ttf");
}

.montserrat-medium {
    font-family: "montserrat-medium";
}
.montserrat-regular {
    font-family: "montserrat-regular";
}
.playfair-italic {
    font-family: "playfairdisplay-italic";
}
.playfair-regular {
    font-family: "playfairdisplay-regular";
}
