.container {
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;

  @include media-breakpoint-down(lg) {
    padding-left: 22px;
    padding-right: 22px;
  }
}
.container2 {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;

  @include media-breakpoint-down(lg) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.h-vh {
  height: 100vh;
}
.row {
  margin-left: 0;
  margin-right: 0;
   
  >*{
    padding-left: 0;
    padding-right: 0;
  }
}
.row8 {
  margin-left: -8px;
  margin-right: -8px;
   
  >*{
    padding-left: 8px;
    padding-right: 8px;
  }
}
.row14 {
  margin-left: -14px;
  margin-right: -14px;
   
  >*{
    padding-left: 14px;
    padding-right: 14px;
  }
}

// TEXT OVERFLOW CSS
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

@include media-breakpoint-down(lg) {
  .px-p-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pe-p-0 {
    padding-right: 0 !important;
  }

  .ps-p-0 {
    padding-left: 0 !important;
  }

  .px-p-p {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .mx-m-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .res-w-100 {
    width: 100% !important;
  }

  .res-h-100 {
    height: 100%;
  }

  .res-w-auto {
    width: auto !important;
  }

  .res-h-vh {
    height: 100vh;
  }

  .res-w-fit {
    width: fit-content !important;
  }

  .res-h-fit {
    height: fit-content !important;
  }

  .text-truncate-none {
    text-overflow: initial !important;
    line-clamp: initial !important;
    -webkit-line-clamp: initial !important;
  }
}