.our-showcase-section{
    .case-study-box {
        border-top: 1px solid #F0EBE240;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .case-img{
        height: 450px;
        padding-right: 40px;
    }
    .case-right-block{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .case-study-btn {
        border: 1px solid #F0EBE240;
    }
}
.left-right-list-content{
    .list-box {
        border-top: 1px solid #00000033;
        padding-top: 21px;
        padding-bottom: 21px;
    }
}
.view-project-section{
    .project-card-img{
        height: 412px;
    }
    .project-content{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .project-btn{
        border: 1px solid #F0EBE240;
    }
}