.get-touch-section {
    .get-touch-img{
        height: 529px;
    }
    .get-touch-content{
        bottom: 86px;
    }
}
.left-right-content{
    .right-content {
        border-top: 1px solid #0000001C;
    }
}